style.css

/* style.css */

body{
    font-family: Georgia, serif;
    background-color: #f5f0e8;
    color: #1a1a1a;
}

header{
    background-color: #1a1a1a;
    padding: 20px;
}

h1{
    font-size: 3rem;
    color: #222;
}

.section{
    width: 80%;
    margin: auto;
}